<template>
    <div>
        <Search v-if="step !== 3" />
        
        <div class="row">
            <div class="col-md-8">
                <Cart v-if="step === 1" />
                <Results v-else-if="step === 2" />
                <Payments v-else />
            </div>

            <div class="col-md-4">
                <RightCard />
            </div>
        </div>

        <AlphaKeyboard
                v-if="inputModel"
                @onChange="onChange" 
                @onKeyPress="onKeyPress" 
                :input="input" />
    </div>
</template>

<script>
    import Cart from "../content/widgets/pos/Cart.vue";
    import Results from "../content/widgets/pos/Results.vue";
    import Payments from "../content/widgets/pos/Payments.vue";
    import Search from "../content/widgets/pos/Search.vue";
    import RightCard from "../content/widgets/pos/RightCard.vue";
    import AlphaKeyboard from "../content/widgets/pos/AlphaKeyboard";
    import {mapState} from "vuex";
    import {SEARCH_BY_NAME, SET_INPUT_VALUE} from "../../core/services/store/pos.module";
    import {SET_BREADCRUMB} from "../../core/services/store/breadcrumbs.module";

    export default {
        name: "dashboard",
        
        components: {
            AlphaKeyboard,
            RightCard,
            Cart,
            Results,
            Search,
            Payments
        },
                
        mounted() {
            this.$store.dispatch(SET_BREADCRUMB, [{title: "Dashboard"}]);
        },

        computed: {
            ...mapState({
                step: state => state.pos.step,
                inputModel: state => state.pos.inputModel,
                input: state => state.pos[state.pos.inputModel]
            })
        },
        
        methods: {
            onChange(value) {
                this.$store.commit(SET_INPUT_VALUE, value);
            },
            onKeyPress(button) {
                if (button === '{enter}' && this.step === 1) {
                    console.log('kaboom');
                    
                    this.$store
                        .dispatch(SEARCH_BY_NAME);
                }
            },
            
            setActiveTab1(event) {
                this.tabIndex = this.setActiveTab(event);
            },
            setActiveTab2(event) {
                this.tabIndex2 = this.setActiveTab(event);
            },
            setActiveTab(event) {
                // get all tab links
                const tab = event.target.closest('[role="tablist"]');
                const links = tab.querySelectorAll(".nav-link");
                // remove active tab links
                for (let i = 0; i < links.length; i++) {
                    links[i].classList.remove("active");
                }

                // set current active tab
                event.target.classList.add("active");

                // set clicked tab index to bootstrap tab
                return parseInt(event.target.getAttribute("data-tab"));
            }
        }
    };
</script>
