<template>
    <div>
        <!--begin::Dashboard-->
        <div class="row">
            <div class="col-xxl-4" v-for="(row, index) in products" :key="row.product_id">
                <b-card
                        :title="row.product_name"
                        :img-src="row.image ? row.image : `https://picsum.photos/600/300/?image=${index}`"
                        img-alt="Image"
                        img-top
                        tag="article"
                        class="mb-2"
                >
                    <b-card-text>
                        <ul>
                            <li v-for="(value, key) in row" :key="key">
                                <strong>{{ key }}:</strong> {{ value }}
                            </li>
                        </ul>
                    </b-card-text>

                    <b-button href="#" variant="primary">
                        <i class="flaticon2-add"></i> Agregar al carrito
                    </b-button>
                </b-card>
            </div>
        </div>
        <!--end::Dashboard-->
    </div>
</template>

<script>
    import {SET_BREADCRUMB} from "@/core/services/store/breadcrumbs.module";
    import ApiService from "@/core/services/api.service";
    // import ListWidget9 from "@/view/content/widgets/list/Widget9.vue";

    export default {
        name: "merchandise",
        components: {
            // ListWidget9,
        },
        data() {
            return {
                products: []
            };
        },
        mounted() {
            this.$store.dispatch(SET_BREADCRUMB, [{title: "Merchandise"}]);

            ApiService.setHeader();
            // /merchandise?limit=10&page=1

            // ApiService.get("merchandise?limit=10&page=1")
            ApiService.get("dummy/data.json")
                .then(({data}) => {
                    // console.log(data);
                    this.products = data.data.rows;
                    console.log(this.products);
                })
                .catch(error => {
                    console.log(error);
                    // context.commit(SET_ERROR, response.data.errors);
                });

        },
        methods: {
            setActiveTab1(event) {
                this.tabIndex = this.setActiveTab(event);
            },
            setActiveTab2(event) {
                this.tabIndex2 = this.setActiveTab(event);
            },
            /**
             * Set current active on click
             * @param event
             */
            setActiveTab(event) {
                // get all tab links
                const tab = event.target.closest('[role="tablist"]');
                const links = tab.querySelectorAll(".nav-link");
                // remove active tab links
                for (let i = 0; i < links.length; i++) {
                    links[i].classList.remove("active");
                }

                // set current active tab
                event.target.classList.add("active");

                // set clicked tab index to bootstrap tab
                return parseInt(event.target.getAttribute("data-tab"));
            }
        }
    };
</script>
