<template>
    <div class="card card-custom card-stretch gutter-b">
        <div class="card-header border-0">
            <h3 class="card-title font-weight-bolder text-dark">Teclado alfabético</h3>
        </div>
        <div class="card-body pt-2">
            <div :class="keyboardClass"></div>
        </div>
    </div>
</template>

<style scoped>
    
</style>

<script>
    import Keyboard from "simple-keyboard";
    import "simple-keyboard/build/css/index.css";

    export default {
        name: "alpha-keyboard",
        props: {
            keyboardClass: {
                default: "simple-keyboard",
                type: String
            },
            input: {
                type: String
            }
        },
        data: () => ({
            keyboard: null
        }),
        mounted() {
            this.keyboard = new Keyboard({
                onChange: this.onChange,
                onKeyPress: this.onKeyPress,

                layout: {
                    default: [
                        "q w e r t y u i o p [ ] \\ {bksp}",
                        "a s d f g h j k l ; ' {enter}",
                        "{shift} z x c v b n m , . / {shift}",
                        "@ {space}"
                    ],
                    shift: [
                        "Q W E R T Y U I O P { } | {bksp}",
                        'A S D F G H J K L : " {enter}',
                        "{shift} Z X C V B N M < > ? {shift}",
                        "@ {space}"
                    ]
                }
            });
        },
        methods: {
            onChange(input) {
                this.$emit("onChange", input);
            },
            onKeyPress(button) {
                this.$emit("onKeyPress", button);

                /**
                 * Handle the shift and caps lock buttons
                 */
                if (button === "{shift}" || button === "{lock}") this.handleShift();
            },
            handleShift() {
                let currentLayout = this.keyboard.options.layoutName;
                let shiftToggle = currentLayout === "default" ? "shift" : "default";

                this.keyboard.setOptions({
                    layoutName: shiftToggle
                });
            }
        },
        watch: {
            input(input) {
                this.keyboard.setInput(input);
            }
        }
    };
</script>
