<template>
    <div class="card card-custom card-stretch gutter-b">

        <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">
                  Carrito de compras
                </span>
            </h3>
        </div>

        <div class="card-body pt-0 pb-3">
            
            <div v-if="list.length > 0" class="table-responsive mb-7">
                <table class="table table-borderless table-vertical-center">
                    <thead>
                    <tr>
                        <th style="width: 9%"></th>
                        <th class="text-left">Nombre</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-right">Precio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(item, index) in list">
                        <tr :key="index">
                            <td class="pl-0 py-4">
                                <div class="symbol symbol-50 symbol-light mr-1">
                                    <span class="symbol-label">
                                      <img :src="`media/svg/misc/006-plurk.svg`" class="h-50 align-self-center">
                                    </span>
                                </div>
                            </td>
                            <td class="pl-0">
                                <span class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                    {{ item.product_name }}
                                </span>
                                <div>
                                    <span class="text-muted font-weight-bold text-hover-primary">
                                        {{ item.division_name }}
                                    </span>
                                </div>
                            </td>
                            <td class="text-center" @dblclick="editQty(index)" style="max-width: 70px">
                                <input v-if="index === editQtyIndex" type="number" class="form-control" v-model="item.quantity">
                                <span v-else class="font-weight-500">{{ item.quantity }}</span>                                
                            </td>
                            
                            <td class="text-right" style="min-width: 110px">
                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                    S/ {{ item.iaprice }}
                                </span>
                            </td>
                            
                            <td class="text-right pr-0">
                                <button class="btn btn-icon btn-light btn-sm" @click="removeItem(index)">
                                    <span class="svg-icon svg-icon-md svg-icon-primary">
                                      <inline-svg src="media/svg/icons/General/Trash.svg" />
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
            
            <div v-if="list.length === 0" class="alert alert-success mt-4 mb-7">
                <p class="mt-2"><strong>Nota:</strong></p>
                <p>
                    Puedes agregar productos al carrito usando el buscador superior.
                </p>
            </div>
            
            <div class="row" v-if="list.length > 0">
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-primary">
                            Agregar cupón de descuento
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" @click="clearCart">
                            Limpiar carrito
                        </button>
                    </div>        
                </div>
                <div class="col-md-5">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><strong>SUB TOTAL:</strong></td>
                            <td class="text-right">S/ {{ subTotal }}</td>                             
                        </tr>
                        <tr>
                            <td><strong>I.G.V.:</strong></td>
                            <td class="text-right">S/ {{ igv }}</td>
                        </tr>
                        <tr>
                            <td><strong>TOTAL VENTA:</strong></td>
                            <td class="text-right">S/ {{ total }}</td>
                        </tr>    
                        </tbody>
                    </table>                    
                </div>
            </div>            
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {CLEAR_CART, EDIT_CART_ITEM_QTY, REMOVE_CART_ITEM} from "../../../../core/services/store/pos.module";
    
    export default {
        name: "cart",
        
        data() {
            return {
                
            };
        },
        
        methods: {
            removeItem(index) {
                this.$store.commit(REMOVE_CART_ITEM, index);
            },
            editQty(index) {
                this.$store.commit(EDIT_CART_ITEM_QTY, index);
            },
            clearCart() {
                this.$store.commit(CLEAR_CART);
            }
        },
        
        computed: {
            ...mapState({
                list: state => state.pos.list,
                editQtyIndex: state => state.pos.editQtyIndex
            }),
            ...mapGetters([
                'subTotal', 
                'igv', 
                'total'
            ])
        }
    };
</script>
