<template>
    <div class="row">
        <div class="col-md-4" v-for="i in [7, 8, 9, 4, 5, 6, 1, 2, 3, 0]">
            <button class="btn btn-primary btn-lg btn-block mb-4" @click="append(i)">
                {{ i }}
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-danger btn-lg btn-block mb-4" @click="clean">
                Limpiar
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success btn-lg btn-block mb-4" @click="accept">
                Aceptar
            </button>
        </div>
    </div>
</template>

<style scoped>
    .btn-lg {
        height: 4em;
    }
</style>

<script>
    import {
        NUMERIC_KEYBOARD_ACCEPT,
        NUMERIC_KEYBOARD_APPEND,
        NUMERIC_KEYBOARD_CLEAN
    } from "../../../../core/services/store/pos.module";

    export default {
        name: "numeric-keyboard",
        
        data() {
            return {
                
            };
        },
        
        methods: {
            append(n) {
                this.$store.commit(NUMERIC_KEYBOARD_APPEND, n);
            },
            clean() {
                this.$store.commit(NUMERIC_KEYBOARD_CLEAN);
            },
            accept() {
                this.$store.commit(NUMERIC_KEYBOARD_ACCEPT);
            }
        }
    };
</script>
