<template>
    <div class="card card-custom card-stretch gutter-b">

        <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">
                  Métodos de pago
                </span>
            </h3>
        </div>

        <div class="card-body pt-0 pb-3">
            <b-form-group label="Documento a emitir">
                <b-form-radio-group
                        v-model="output"
                        :options="outputOptions"
                        name="radio-inline" />
            </b-form-group>

            
            <div class="row">

                <div class="col-md-6">

                    <b-form-group
                            id="document"
                            label="RUC:"
                            label-for="document">
                        <b-form-input
                                id="document"
                                @focus.native="setInput('document')"
                                v-model="document"
                                type="text"
                                required
                                placeholder="Documento del cliente" />
                    </b-form-group>

                    <b-form-group
                            id="client"
                            label="Cliente:"
                            label-for="client">
                        <b-form-input
                                id="client"
                                @focus.native="setInput('client')"
                                v-model="client"
                                type="text"
                                required
                                placeholder="Nombre del cliente" />
                    </b-form-group>
                </div>
                
                <div class="col-md-6 text-center">
                    <p><strong>Total:</strong> S/ 200</p>
                    <div class="table-responsive mb-7">
                        <table class="table table-vertical-center">
                            <thead>
                            <tr>
                                <th class="text-center">Método</th>
                                <th class="text-right">Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="(payment, i) in payments">
                                <tr :key="i">
                                    <td class="pl-0">
                                        <span class="text-dark-75 text-hover-primary mb-1 font-size-lg">
                                            {{ payment.name }}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <span class="text-dark-75 d-block font-size-lg">
                                            S/ {{ payment.amount }}
                                        </span>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><strong>Efectivo:</strong></td>
                            <td>
                                <b-button-group>
                                    <b-button variant="primary">Total</b-button>
                                    <b-button variant="secondary">Parcial</b-button>
                                </b-button-group>
                            </td>                             
                        </tr>
                        <tr>
                            <td><strong>Tarjeta:</strong></td>
                            <td>
                                <b-button-group>
                                    <b-button variant="primary">Total</b-button>
                                    <b-button variant="secondary">Parcial</b-button>
                                </b-button-group>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Nota de crédito:</strong></td>
                            <td>
                                <b-button-group>
                                    <b-button variant="primary">Total</b-button>
                                    <b-button variant="secondary">Parcial</b-button>
                                </b-button-group>
                            </td>
                        </tr>    
                        </tbody>
                    </table>                    
                </div>
            </div>            
        </div>
    </div>
</template>

<script>
    import {SET_CLIENT, SET_DOCUMENT, SET_INPUT} from "../../../../core/services/store/pos.module";

    export default {
        name: "payments",
        
        data() {
            return {
                output: 'BOLETA',
                outputOptions: ['BOLETA', 'FACTURA'],
                                
                payments: [
                    {
                        name: "Efectivo", amount: 22.50
                    },
                    {
                        name: "Tarjeta", amount: 42.00
                    },
                    {
                        name: "Nota de crédito", amount: 100
                    }
                ]
            };
        },

        computed: {
            document: {
                get () {
                    return this.$store.state.pos.document;
                },
                set (value) {
                    this.$store.commit(SET_DOCUMENT, value);
                }
            },
            client: {
                get () {
                    return this.$store.state.pos.client;
                },
                set (value) {
                    this.$store.commit(SET_CLIENT, value);
                }
            },
        },
        
        methods: {
            setInput(inputModelName) {
                console.log('select input based on property name', inputModelName);
                this.$store.commit(SET_INPUT, inputModelName);
            }
        }
    };
</script>
