<template>
    <div class="card card-custom card-stretch gutter-b">

        <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">
                  Resultados de búsqueda
                </span>
            </h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">
                    <button class="btn btn-icon btn-light btn-sm" @click="backToCart">
                        <i class="v-icon mdi mdi-close"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-body pt-0 pb-3">
            
            <div class="table-responsive mb-7">
                <table class="table table-borderless table-vertical-center">
                    <thead>
                    <tr>
                        <th style="width: 9%"></th>
                        <th class="text-left">Nombre</th>
                        <th>Modelo</th>                       
                        <th class="text-right">Precio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(item, index) in results">
                        <tr :key="index">
                            <td class="pl-0 py-4">
                                <div class="symbol symbol-50 symbol-light mr-1">
                                    <span class="symbol-label">
                                      <img :src="`media/svg/misc/006-plurk.svg`" class="h-50 align-self-center">
                                    </span>
                                </div>
                            </td>
                            <td class="pl-0">
                                <span class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                    {{ item.product_name }}
                                </span>
                                <div>
                                    <span class="text-muted font-weight-bold text-hover-primary">
                                        {{ item.division_name }}
                                    </span>
                                </div>
                            </td>
                            <td>
                                {{ item.model }}
                            </td>
                            <td class="text-right" style="min-width: 100px">
                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                    S/ {{ item.iaprice }}
                                </span>
                            </td>
                            
                            <td class="text-right pr-0">
                                <button class="btn btn-icon btn-success btn-sm" @click="addItem(item)">
                                    <i class="v-icon mdi mdi-check"></i>
                                </button>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>      
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {
        ADD_CART_ITEM,
        EDIT_CART_ITEM_QTY,
        GO_TO_STEP,
        REMOVE_CART_ITEM, SET_QUERY
    } from "../../../../core/services/store/pos.module";
    
    export default {
        name: "results",
        
        data() {
            return {
                
            };
        },
        
        methods: {
            backToCart() {
                this.$store.commit(GO_TO_STEP, 1);
            },
            addItem(item) {
                item.quantity = 1;
                this.$store.commit(ADD_CART_ITEM, item);
                this.$store.commit(SET_QUERY, '');
                this.backToCart();
            }                
        },
        
        computed: {
            ...mapState({
                results: state => state.pos.results
            }),
            ...mapGetters([
                'subTotal', 
                'igv', 
                'total'
            ])
        }
    };
</script>
