<template>
    <div class="card card-custom card-stretch gutter-b">
        <div class="card-header border-0">
            <h3 class="card-title font-weight-bolder text-dark">Teclado numérico</h3>
        </div>
        <div class="card-body pt-2">
            <NumericKeyboard />

            <button v-if="step === 1" class="btn btn-success btn-lg btn-block mt-7" @click="goTo(3)">
                Pagar
            </button>
            <button v-else class="btn btn-success btn-lg btn-block mt-3">
                Confirmar pago
            </button>

            <button v-if="step === 3" class="btn btn-dark btn-lg btn-block mt-4" @click="goTo(1)">
                Atrás
            </button>
        </div>
    </div>
</template>

<style scoped>
    .btn-lg {
        height: 5em;
    }
</style>

<script>
    import NumericKeyboard from "./NumericKeyboard.vue";
    import {GO_TO_STEP, SET_INPUT} from "@/core/services/store/pos.module";
    import {mapState} from "vuex";

    export default {
        name: "right-card",
                
        components: {
            NumericKeyboard
        },
                
        methods: {
            goTo(step) {
                this.$store.commit(GO_TO_STEP, step);
                this.$store.commit(SET_INPUT, null);
            }
        },

        computed: {
            ...mapState({
                step: state => state.pos.step
            })
        },
    };
</script>
