<template>
    <div class="card card-custom card-stretch gutter-b">
        
        <div class="card-header border-0">
            <h3 class="card-title font-weight-bolder text-dark">Agrega productos</h3>
        </div>
        
        <div class="card-body pt-2">
            <form class="form-inline" @submit.prevent="onSubmitSearch">
                <b-form-select class="mr-sm-2"
                               @change="onChangeCriteria"
                               v-model="criteria"
                               :options="criteriaOptions" />

                <input type="text" class="form-control" v-model="query" ref="query">
            </form>
            
            <div v-if="notFoundCode" class="alert alert-info mt-4 mb-0">
                <strong>Lo sentimos!</strong> No se encontró ningún producto con este código.
                <button type="button" class="close" @click="notFoundCode = false;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import {
        ADD_CART_ITEM,
        SEARCH_BY_CODE,
        SET_DOCUMENT,
        SET_INPUT,
        SET_QUERY
    } from "../../../../core/services/store/pos.module";
    
    export default {
        name: "search",
        
        data() {
            return {
                notFoundCode: false,
                criteria: 'code',
                criteriaOptions: [
                    {value: 'code', text: "Por código"},
                    {value: "name", text: "Por nombre"},  
                ]
            };
        },
        
        computed: {
            query: {
                get () {
                    return this.$store.state.pos.query;
                },
                set (value) {
                    this.$store.commit(SET_QUERY, value);
                }
            },
            ...mapGetters(["layoutConfig"])
        },
        
        methods: {
            onSubmitSearch() {
                this.notFoundCode = false;
                
                this.$store
                    .dispatch(SEARCH_BY_CODE, this.query)
                    .then(result => {
                        if (!result) {
                            this.notFoundCode = true;
                        }

                        result.quantity = 1;
                        this.$store.commit(ADD_CART_ITEM, result);
                        this.query = '';
                    });
            },
            onChangeCriteria() {
                if (this.criteria === 'name') {
                    this.$store.commit(SET_INPUT, 'query');
                } else {
                    this.$store.commit(SET_INPUT, null);
                }
            }
        },
        
        mounted() {
            this.$refs.query.focus();
        }
    };
</script>
